<div class="container mt-5">
    <h1 class="mb-4 text-center text-capitalize">{{title}}</h1>

    <div class="d-flex justify-content-center">
        <!-- main box with data -->
        <div class="border border-secondary me-5 rounded" style="width: 70%; height: max-content">
            <ul class="list-group">
                <li class="list-group-item text-capitalize ps-5">capital city: <span class="ms-5">name</span></li>
                <li class="list-group-item text-capitalize ps-5">currecy: <span class="ms-5">name</span></li>
                <li class="list-group-item text-capitalize ps-5">total area: <span class="ms-5">4324723423ui4</span></li>
                <li class="list-group-item text-capitalize ps-5">Language: <span class="ms-5">name</span></li>
                <li class="list-group-item text-capitalize ps-5">Population: <span class="ms-5">4748923423423</span></li>
            </ul>
        </div>
    </div>
    
    
</div>
