<div class="container mt-5">
    <h1 class="mb-4 text-center text-capitalize">{{title}}</h1>

    <div class="d-flex justify-content-center">
        <!-- main box with data -->
        <div class="border border-secondary me-5 rounded" style="width: 70%; height: max-content">
            <ul class="list-group">
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>
            </ul>
        </div>
    </div>
    
    
</div>
