<div class="container mt-5">
    <h1 class="mb-4">Countries</h1>

    <div class="d-flex flex-row">
        <!-- main box with data -->
        <div class="border border-secondary flex-fill me-5 rounded" style="width: 60%">
            <ul class="list-group">
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>
            </ul>
        </div>

        <!-- side bar -->
        <div class="border border-secondary flex-fill flex-sm-fill rounded" style="height: max-content">
            <ul class="list-group">
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>
                <li class="list-group-item ps-5">country</li>

            </ul>
        </div>
    </div>
    
    
</div>
