<div class="container mt-5">
    <h1 class="mb-4 text-center text-capitalize">Comparator</h1>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="w-50 p-3 d-flex bg-white shadow mb-5 rounded">
            <div class="form-check me-5">
                <input class="form-check-input" type="checkbox" value="" id="check1">
                <label class="form-check-label text-capitalize" for="check1">
                    total area
                </label>
              </div>
    
            <div class="form-check  me-5">
            <input class="form-check-input" type="checkbox" value="" id="check2" >
            <label class="form-check-label text-capitalize" for="check2">
                population
            </label>
            </div>

            <div class="form-check  me-5">
                <input class="form-check-input" type="checkbox" value="" id="check2" >
                <label class="form-check-label text-capitalize" for="check2">
                    city population
                </label>
            </div>

        </div> <!-- end of box-->
    </div> <!-- end of flex-->

    <!-- buttons -->
    <div class="d-flex justify-content-center">
        <button class="btn btn-lg btn-outline-dark me-5" >biggest</button>  
        <button class="btn btn-lg btn-outline-dark">smallest</button>  
    </div>


    <!-- result text-->
    <div class="d-flex flex-row justify-content-center align-items-center mt-5">
        <div class="w-50 p-3 bg-white shadow mb-5 rounded">
            <p class="text-center fs-4">Result: <span class="mx-3">type</span></p>
        </div> <!-- end of box-->
    </div>

</div>
